.review-master {
  height: 250px;
  //width: 75vw;

}

#left, #right {
  background-color: grey;
  // width: 10%;
  // height:100%;
}

#centre {
   //height:250px;
  // width: 50%;
  overflow: scroll;
}
.cast-master {
  overflow: scroll;
}
.cast-member {
  //width: 200px;
  // border: 0.5px solid grey;
}

#media-content {
  //height: 250px;
  background-color: grey;
  overflow: scroll;
  //height: 500px;
  display: flex;
  flex-flow: row nowrap;
}

#media-content > img {
  //height: 500px;
  //width: 100%;
  height: 300px;
}

#media-content > iframe {
  width: 1000px;
  height: 300px;
}

#recommendations {
  overflow: scroll;
  height: 450px;
}

#results p.overview {
  line-height: 1;
  font-size: 14px;
}
#result {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  margin: 5px;
  width: 100%;
}
