* {
  box-sizing: border-box;
}

body {
  //background-color: rgb(255,255,255);
}

.review-master {
  height: 250px;
  #centre {
    overflow: scroll;
  }
  .review-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: lightgrey;
    }
  }
}

.hero {
  transition: background 1s linear;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  a {
    margin-left: 20px;
  }
  .hero-body {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  }
}

.spinner {
  display: block;
  margin: auto;
}

.cast-master {
  overflow: scroll;
}
.cast-member {
  //width: 200px;
  // border: 0.5px solid grey;
}

#media-content {
  //height: 250px;
  //background-color: grey;
  overflow: scroll;
  height: 300px;
  display: flex;
  flex-flow: row nowrap;
  img {
    height: 100%;
  }
  .spinner {
    height: auto;
  }
  .column {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  iframe {
    height: 100%;
  }
}

.recommendations {
  overflow-x: scroll;
  //height: 350px;
  img {
    cursor: pointer;
  }
}

#results p.overview {
  line-height: 1;
  font-size: 14px;
}
.result {
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  margin: 5px;
  width: 100%;
  max-height: 200px;
}
